<ul class="nav nav-sidebar">
  <li><a href="/tests">Список тестов</a></li>
  <li><a href="/tests/create">Создать тест</a></li>
</ul>
<hr/>
<ul class="nav nav-sidebar">
  <li><a href="/groups">Список групп</a></li>
  <li><a href="/groups/create">Созать группу</a></li>
</ul>
<hr/>
<ul class="nav nav-sidebar">
  <li><a href="/doc">Документация</a></li>
</ul>