<nav class="navbar navbar-inverse">
		<div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand">
		        <img alt="Brand" src="/image/browser64.png" width="64" height="64">
		      </a>
		    </div>
		</div>
	</nav>